[submodule "base_app"]
	path = base_app
	url = https://github.com/gusttavovianna/micro-front-ends.git
	branch = master
[submodule "micro_core"]
	path = micro_core
	url = https://github.com/gusttavovianna/micro-front-ends.git
	branch = master
[submodule "micro_home"]
	path = micro_home
	url = https://github.com/gusttavovianna/micro-front-ends.git
	branch = master
[submodule "micro_login"]
	path = micro_login
	url = https://github.com/gusttavovianna/micro-front-ends.git
	branch = master
[submodule "base_ui"]
	path = base_ui
	url = https://github.com/gusttavovianna/micro-front-ends.git
	branch = master